*{
    font-family: quicksand;
}
/*header*/
header{
    background-image: url('images/bannerchuyenmuc.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    position: relative;
}
.mymainmenu{
    background-color: #BAD4E3;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.navbar-nav{
    font-size: 1.2rem;
    color: #646464;
    justify-content: space-between;
    font-weight: bold;
}
.nav-link:hover{
    color: white;
}

/* CSS để dàn trang các mục */
.nav-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

/* Ẩn biểu tượng trái tim ban đầu */
.active-img {
  display: none;
}

/* Hiển thị biểu tượng trái tim khi hover */
.nav-item:hover .active-img {
  display: inline-block;
  margin-left: 0px; /* Khoảng cách giữa chữ và biểu tượng trái tim */
}
/* Đảm bảo chữ và biểu tượng trái tim trên cùng 1 hàng */
.nav-link {
  display: flex;
  align-items: center;
}

/* Đảm bảo khoảng cách giữa chữ và biểu tượng trái tim */
.text {
  margin-right: 5px; /* Khoảng cách giữa chữ và biểu tượng trái tim */
}



/*content*/


